.model {
    margin: 50px;
    /* border: 3px solid black; */
    border-radius: 10px;
    padding: 15px;
    position: fixed;
    /* top: 5%; */
    top: 0;
    color: #fff;
    max-width: 40rem;
    max-height: 50rem;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 20rem;
    margin-top: 8rem;
}

@media screen and (max-width: 1100px) {
    .model {
        max-width: 25rem;
        margin-left: 15rem;
        margin-top: 8rem;
    }
}

@media screen and (max-width: 800px) {
    .model {
        max-width: 20rem;
        margin-left: 8rem;
        margin-top: 8rem;
    }
}

@media screen and (max-width: 450px) {
    .model {
        max-width: 15rem;
        margin-left: 3rem;
    }
}